.loader {
  margin: 2em auto;
  border: 1em solid rgba(78, 168, 138, 0.2);
  border-top-color: rgb(78, 168, 138);
  border-radius: 50%;
  width: 10em;
  height: 10em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
